body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    padding: 10px; 
}

.header {
    background-color: rgb(150, 150, 150);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100px; 
}

.footer {
    background-color: rgb(150, 150, 150);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100px;
}

.content-wrapper {
    display: flex;
    flex: 1; 
    gap: 10px;
}

.sidebar1 {
    background-color: rgb(150, 150, 150);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 150px;
}

.sidebar2 {
    background-color: rgb(150, 150, 150);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 150px;
}

.main {
    background-color: rgb(150, 150, 150);
    flex: 1;
}